<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My book shelf</title>
    <style>
        #empty_form {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    </style>
</head>

<body>
<div id="empty_form">
    <div class="message_container">

        <h1>text box is empty</h1>
        <br>
        <a href="./shelf" style="text-decoration: none; padding: 10px; background-color: lightgray; border-radius: 5px;">back to shelf page</a>
    </div>

</div>
</body>

</html>